
.card_box div::before {
  content: 'Premium';
  position: absolute;
  width: 150%;
  height: 40px;
  background: linear-gradient(329deg, rgba(123,178,58,1) 0%, rgba(218,253,0,1) 83%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.23);
}